.uwh-abn{
	width:3.5625em;
	height:1.75em;
}
.appcanBtn{
	background-image:url('myImg/appcanBtn.png');
}
.umar-l-ele{
	margin-left:0.8em;
}






.ubb-pic{
	border-right:2px solid #fff;
}
.t-blu2{
	color:#0670b7;
}
.uinn-a15{
	padding:0.52em 0;
}
