.uh-ele1 {
    height: 8em;
}
.umar-a-1{
	margin: 1em;
}
.uidx9{
	z-index: 999;
}
.uinn-lr08{
	padding-right: .8em;
	padding-left: .8em;
}
.uc-md{
    -webkit-border-radius: 50%;
            border-radius: 50%;	
}
.umar-at1 {
    margin-top: .625em;
}
.ulev-b{
	font-weight: bold;
}
.umar-a08{
	margin: 0.8em;
}







.uh-ele2 {
    height: 6.875em;
}
.uwh-ele1 {
    width: .9em;
    height: .9375em;
}
.uwh-ele2 {
    width: 4.25em;
    height: 4.25em;
}


.c-wh-ele {
    background-color: rgba(255,255,255,.9);
}


.umar-t-ele {
    margin-top: .5em;
    margin-bottom: .5em;
}

.t-gra-ele {
    color: #aaa;
}

.t-org-ele {
    color: #f78c3e;
}
.t-gre-ele {
    color: #3dc700;
}
.uinn-ele2 {
    padding: .14em .625em;
}
.umar-ar6 {
    margin-right: .46875em;
}
.uc-a-for1 {
    -webkit-border-radius: .25em;
            border-radius: .25em;
}
.c-gra-for2 {
    background-color: #767676;
}
.umar-r-for {
    margin-right: .25em;
}
.uwh-for1 {
    width: .25em;
    height: .25em;
}
.uw-33 {
    width: 33.33%;
}
.umar-ar6 {
    margin-right: .46875em;
}

.uinn-a7 {
    padding: 0 .625em;
}
.uinn-a11 {
    padding: .625em 0;
}
.btn_wh1 {
    width: 1.4em;
    height: 1.4em;
}
.uinn-a1 {
    padding: .625em;
}
.ufm1 {
    font-family: Arial;
}
.ulev-app1 {
    font-size: .875em;
}
